classic_algorithms/Debug/
*.user
Debug/
classic_algorithms.ncb
classic_algorithms.sln
classic_algorithms.suo
classic_algorithms/classic_algorithms.vcproj
classic_algorithms/ReadMe.txt
gartx3fu.lfk.txt
gwxmgd1g.4v1.txt
jz02eaq0.kru.txt
swjfhz2q.hze.txt
classic_algorithms2/ReadMe.txt
*.vcproj
classic_algorithms2/stdafx.cpp
classic_algorithms2/stdafx.h
classic_algorithms2/targetver.h
*.vcxproj
*.filters
Backup/
*.suo
*.sdf
*.opensdf
_UpgradeReport_Files/
ipch/
UpgradeLog.XML
UpgradeLog.htm
