classic_algorithms/Debug/
*.user
Debug/
classic_algorithms.ncb
classic_algorithms.sln
classic_algorithms.suo
classic_algorithms/classic_algorithms.vcproj
classic_algorithms/ReadMe.txt
gartx3fu.lfk.txt
gwxmgd1g.4v1.txt
jz02eaq0.kru.txt
swjfhz2q.hze.txt
